.search-patient {
  border: 3px solid #5EB2D7;
  background-color: #5EB2D7;
  display: flex;
  justify-content: space-around;
  font-family: 'Tangerine', cursive;
  font-size: 2em;
}

.search-patient input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.searchname {
  color: #5EB2D7;
  border: 3px solid #5EB2D7;
  background: white;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
}

.form-new-patient {
  border: 3px solid #4BAAD3;
  background-color: #B8D6E1;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Scada', sans-serif;
}

.form-new-patient > h2 {
  font-family: 'Tangerine', cursive;
  font-size: 3.5em;
}
.input {
  width: 200px;
  border-radius: 5px;
  margin: 10px 5px;
}

.input-age {
  width: 50px;
  border-radius: 5px;
}

.input-genere {
  width: 85px;
  border-radius: 5px;
}

.input-blood {
  width: 50px;
  border-radius: 5px;
}

.input-cpf {
  width: 100px;
  border-radius: 5px;
}

.input-rg {
  width: 100px;
  border-radius: 5px;
}

.input-email{
  width: 130px;
  border-radius: 5px;
}

.input-medical-agreement {
  width: 60px;
  border-radius: 5px;
}

.contacts {
  margin-top: 10px;
}

.input-phone {
  width: 150px;
  border-radius: 5px;
}

.input-adress {
  width: 328px;
  border-radius: 5px;
}

.Diaseases{
  margin-top: 20px;
}

.input-description {
  display:flex;
  justify-content: center;
  width: 645px;
  height: 80px;
  border-radius: 8px;
}

.btns-upload {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-submit {
  padding: 0 20px;  
}
