.search-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
}

.search-bar-name {
  border: 2px solid red;
  border-radius: 15px;
  width: 600px;
  height: 50px;
  margin-top: 40px;
  font-family: 'Scada', sans-serif;
  text-align: center;
}

.list-names {
  border: 2px solid black;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
