* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-style {
  font-family: 'Scada', sans-serif;
  font-size: 1.2em;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.menu-hamburger {
  display: flex;
}

.menu {
  margin-top: 3px;
  margin-right: 20px;
  height: 9vh;
}

.logo {
  height: 10vh;
  z-index: 10;
}

.sidebar {
  display: flex;
}

.sidebar > a {
  order: 1px solid red;
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  color: #4BAAD3;
}

@media screen and (max-width: 768px) {
  .nav-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar {
    text-decoration: none;
    display: flex;
    font-size: 1em;
    }
  .sidebar > a {
    margin-top: 2px;
    padding-left: 5px;
  }
  .menu {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 414px) {
  .logo {
    height: 6vh;
  }
  .sidebar {
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    font-size: 0.8em;
  }
  .menu {
    width: 50px;
    height: 50px;
    margin-right: 2px;
  }
}